body, html {
    height: 100%;
  }


body {
    background-image: url("assets/alt-bg9.png");
    /* background-repeat: no-repeat; */
   }

.navbar {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: auto;
  }



header img {
    text-align: left;
}

.nav-image {
    height: 40%;
    width: 40%;
    padding: 0;
    margin-bottom: 10px;

}

.nav-image2 {
  height: 40%;
  width: 80%;
  padding: 0;
  margin-bottom: 10px;
}

  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
    list-style: none;
    align-items: center;
    align-content: center;
  }


  .navbar li {
    float: left;
  }

  .navbar li a {
    display: block;
    color: white;
    text-align: justify;
    padding: 14px 14px;
    text-decoration: none;
    font-family:Impact;
  }

  .navbar li a img {
    margin: auto;
  }

  .navbar li a:hover {
    color: #9E788F;
  }

  .navbar img:hover {
    opacity: 0.6;
  }

  /* .missiontitle h3 {
    background-color: #f19336;
    padding: 10px;
  } */

  /* .mission {
    display: grid;
  } */

  .mission {
    transition: all 0.3s ease-in-out;
  }

  .mission p{
    position:relative;
    background-color: #efaa66;
    color:black;
    width: 66%;
    padding: 50px;
    font-family: 'Changa';
    margin-top:0;
  }

  .mission h3 {
    position: relative;
    background-color: #f19336;
    padding: 10px;
    width:15%;
    height:60%;
    margin-bottom: 0;
    font-family: Impact;
    text-align: center;
    top: -295px;
    font-weight:lighter;

  }

  /* .emptyinside {
    padding:10px;
  } */

  .sales,.salestitle {
    transition: all 0.3s ease-in-out;
  }

  .sales p{
    position:relative;
    padding:40px;
    background-color: #eb7831;
    color:black;
    height:25%;
    width:40%;
    font-family: 'Changa';
  }

  .salestitle h3 {
    position: relative;
    background-color: #ef640d;
    padding: 10px;
    width:15%;
    height:60%;
    font-family: Impact;
    text-align: center;
    top: -275px;
    font-weight:lighter;

  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #4c1e4f;;
    color: white;
    text-align: center;
  }

  .todd {
    width:100px;
    height:100px;
    position: absolute;
    left: 78%;
    top: 75%;

  }

  .star {
    width:300px;
    height:300px;
    position: absolute;
    left: 5%;
    top: 40%;

  }

.shopping-cart {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 93.5%;
  top: 2.5%;
}

.shopping-cart:hover {
  opacity: .7;
}

